.container {
    max-width: 960px;
}

.site-header {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    a {
        color: #999;
        transition: ease-in-out color .15s;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.logo-image {
    -webkit-animation: spin 1s ease-out;
    -moz-animation: spin 1s ease-out;
    animation: spin 0.75s ease-out;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(1080deg);
    }

    to {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(1080deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.top-nav-items-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.title-row {
    margin-bottom: 40px;
}

.top-panel {
    background: rgb(235, 235, 235);
    background: linear-gradient(90deg, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 235, 235, 1) 100%);
}

.vjs-volume-panel, .vjs-current-time, .vjs-picture-in-picture-control, .vjs-fullscreen-control {
    display: none !important;
}

.video-js.vjs-default-skin.vjs-paused .vjs-big-play-button {
    display: block !important;
}

.social-links {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-flow: row;
    padding-left: 0;
    margin-top: 30px;

    li {
        width: 30px;

        a {
            color: gray;
        }
    }
}

.copyright-wrapper {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-flow: row;
    padding-left: 0;
    margin-bottom: 30px;
}

.header-hr-wrapper {
    hr {
        margin: 0;
        width: 100%;
    }
}

footer {

    a {
        color: darkgray;
        transition: ease-in-out color .15s;
    }

    .footer-menu-items-wrapper {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .footer-logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer a:hover {
    text-decoration: none; 
    color: black !important;
}