@model AutoYahtzee.Business.ViewModels.YahtzeeListViewModel
@{
    ViewData["Title"] = "Yahtzees";
}

<style>

    .btn:focus, .btn:active, .page-link:focus {
        outline: none !important;
        box-shadow: none;
    }

    .math-symbol { 
        font-family: "Georgia";
        font-style: italic
    }

    .formula-img {
        width: 200px;
        margin: 40px;
    }
</style>

<div class="row title-row">
    <div class="col-md-12">
        <h3 class="font-weight-normal">
            Statistics
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            A probability <strong class="math-symbol">P</strong> of rolling a <strong class="math-symbol">d</strong>-dice Yahtzee within <strong class="math-symbol">r</strong> rolls can be expressed as:
        </p>
        <img class="mx-auto d-block formula-img" src="~/img/formula.gif" alt="Yahtzee probability formula" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div style="height:500px;">
            <canvas id="probability-chart"></canvas>
        </div>
    </div>
</div>