@{
    ViewData["Title"] = "Error";
}

<div class="code-page">

    <div class="row title-row">
        <div class="col-md-12">
            <h3 class="font-weight-normal">
                An Error occured :(
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="~/img/error.png" width="500" alt="stupid dog" />
        </div>
    </div>
</div>