@{
    ViewData["Title"] = "Not Found";
}

<div class="code-page">

    <div class="row title-row">
        <div class="col-md-12">
            <h3 class="font-weight-normal">
                Not Found :(
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="~/img/not-found.png" width="500" alt="sad kitten" />
        </div>
    </div>
</div>