<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Automatic Yahtzee">
    <meta name="author" content="Koryakin Pavel | koryakinp@koryakinp.com">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>AutoYahtzee - @ViewData["Title"]</title>

    <link href="~/dst/site.min.css" rel="stylesheet" />
</head>

<body>

    <nav class="site-header sticky-top py-1">

        <div class="d-none d-md-block">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="/">
                    <img class="logo-image" src="~/img/icon.png" width="36" height="36" />
                </a>
                <div class="top-nav-items-container">
                    <a class="top-nav-item" href="/">Rolls</a>
                    <a class="top-nav-item" href="/yahtzee">Yahtzees</a>
                    <a class="top-nav-item" href="/stats">Stats</a>
                    <a class="top-nav-item" href="/contact">Contact</a>
                    <a class="top-nav-item" href="/project">Project</a>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <div class="pos-f-t">
                <nav class="navbar">
                    <div class="hamburger-button-wrapper">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-2x fa-bars hamburger-button"></i>
                        </button>
                    </div>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="mobile-menu-links-container">
                        <ul class="mobile-menu-wrapper">
                            <li>
                                <a href="/">
                                    <div class="link-wrapper">Rolls</div>
                                </a>
                            </li>
                            <li>
                                <a href="/yahtzee">
                                    <div class="link-wrapper">Yahtzees</div>
                                </a>
                            </li>
                            <li>
                                <a href="/stats">
                                    <div class="link-wrapper">Stats</div>
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <div class="link-wrapper">Contact</div>
                                </a>
                            </li>
                            <li>
                                <a href="/project">
                                    <div class="link-wrapper">Project</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="bg-white">

        <div class="position-relative overflow-hidden p-3 p-md-5 text-center top-panel">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Auto Yahtzee</h1>
                <p class="lead font-weight-normal">
                    The goal of the project is to roll Yahtzees <sup data-toggle="tooltip" data-placement="top" title="A combination of an N of a kind thrown with N dice"><i class="fas fa-info"></i></sup> using an automatic dice roller. This project has no meaningful real-world application or purpose; rather, it was set up by the creator as a form of artistic expression.
                </p>
                <a class="btn btn-outline-secondary" href="/yahtzee">See Yahtzee</a>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
                @RenderBody()

                <div class="row">
                    <div class="col-md-12">
                        <div class="sb sb-5">
                            <small>section break 4</small>
                            <hr class="section-break-5" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="footer-logo-wrapper">
                    <ul class="list-unstyled text-small">
                        <li><img src="~/img/icon.png" width="60" height="60" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="footer-menu-items-wrapper">
                    <ul class="list-unstyled text-small">
                        <li><h5>Features</h5></li>
                        <li><a class="text-muted" href="/">Rolls</a></li>
                        <li><a class="text-muted" href="/yahtzee">Yahtzees</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="footer-menu-items-wrapper">
                    <ul class="list-unstyled text-small">
                        <li><h5>Resources</h5></li>
                        <li><a class="text-muted" href="/software">Software</a></li>
                        <li><a class="text-muted" href="/hardware">Hardware</a></li>
                        <li><a class="text-muted" href="/stats">Stats</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="footer-menu-items-wrapper">
                    <ul class="list-unstyled text-small">
                        <li><h5>About</h5></li>
                        <li><a class="text-muted" href="/project">Project</a></li>
                        <li><a class="text-muted" href="/author">Author</a></li>
                        <li><a class="text-muted" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="social-links">
                    <li><a href="https://www.instagram.com/autoyahtzee/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/AutoYahtzee"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCtI8wizmKcGqm4ZMMxoVdpQ"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://github.com/koryakinp/"><i class="fab fa-github"></i></a></li>
                    <li><a href=""><i class="fab fa-kaggle"></i></a></li>
                </ul>

                <ul class="copyright-wrapper">
                    <li><small class="d-block mb-3 text-muted">&copy; @DateTime.Now.Year</small></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/js/bundles.min.js"></script>
</body>
</html>
