@{
    ViewData["Title"] = "About";
}

    <div class="about-page">
        <div class="row title-row">
            <div class="col-md-12">
                <h2 class="font-weight-normal">
                    About
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="font-weight-normal">
                    Project
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card box-shadow video-wrapper">
                    <video id="my-player"
                           class="video-js vjs-big-play-centered"
                           controls=""
                           preload="auto"
                           data-setup='{"fluid":true}'>
                        <source src="~/video/robot.webm" type="video/webm" />
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">
                                supports HTML5 video
                            </a>
                        </p>
                    </video>
                </div>
            </div>

            <div class="col-md-12">
                <h3 class="font-weight-normal">
                    Author
                </h3>
            </div>

            <div class="col-md-12">
                <p>My name is Pavel and I am a Software Engineer living in Toronto, Canada, I started working on this project in late 2019, my goal is to beat the odds and roll as high Yahtzee as possible using automatic tools. As header says, the project has no real-world application or purpose.</p>
                <p>I also worked on a couple more project, you might find them interesting:</p>
                <ul>
                    <li>
                        <p>
                            <span><a href="https://github.com/koryakinp/ann">koryakinp.Ann</a></span>
                            <br />
                            <span class="small">Implementation of Convolutional Neural Network in .NET Core.</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span><a href="https://github.com/koryakinp/mldriver">koryakinp.MLDriver</a></span>
                            <br />
                            <span class="small">Implementation of Advantage Actor-Critic (A2C) algorithm.</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span><a href="https://github.com/koryakinp/gp">koryakinp.GP</a></span>
                            <br />
                            <span class="small">Implementation of Gaussian Processes in .NET Core.</span>
                        </p>
                    </li>
                </ul>
                <p>If you like what I am doing, please consider supporting me on Patreon.</p>
                <p>If you want to hire me, please <a href="mailto:koryakinp@koryakinp.com">email me</a> or use <a href="/contact">contact form</a>.</p>
            </div>

        </div>
    </div>