@model AutoYahtzee.Business.ViewModels.AboutViewModel
@{
    ViewData["Title"] = Consts.PageTitle.Author;
}

<div class="author-page">
    <partial name="PageTitle" for="@Consts.PageTitle.Author" />


    <div class="row">
        <div class="col-md-12 sections-spacer">

            <p>My name is Pavel and I am a software engineer, currently living in Toronto, Canada. I started working on this project in late 2019 with the goal of beating the statistical odds and rolling as high a Yahtzee as possible, using an automatic dice rolling mechanism that I have created myself.</p>
            <p>I have also worked on a couple of other personal projects which you might find interesting:</p>
            <ul>
                <li>
                    <p>
                        <span><a href="https://github.com/koryakinp/ann">koryakinp.Ann</a></span>
                        <br />
                        <span class="small text-muted">Implementation of Convolutional Neural Network in .NET Core.</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span><a href="https://github.com/koryakinp/mldriver">koryakinp.MLDriver</a></span>
                        <br />
                        <span class="small text-muted">Implementation of Advantage Actor-Critic (A2C) algorithm.</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span><a href="https://github.com/koryakinp/gp">koryakinp.GP</a></span>
                        <br />
                        <span class="small text-muted">Implementation of Gaussian Processes in .NET Core.</span>
                    </p>
                </li>
            </ul>
            <p>If you like what I do, please consider supporting me on Patreon.</p>
            <p>If you want to hire me, please <a href="mailto:koryakinp@koryakinp.com">email me</a> or fill out the <a href="/contact">contact form</a> and I will get back to you.</p>
        </div>
    </div>
</div>