@{
    ViewData["Title"] = "Code";
}

<div class="code-page">

    <div class="row title-row">
        <div class="col-md-12">
            <h2 class="font-weight-normal">
                Code
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>All the code for the project is open-source and available on GitHub.</p>
        </div>

        <div class="col-md-12">
            <ul class="repo-list">
                <li>
                    <div class="logo-wrapper">
                        <a href="https://github.com/koryakinp/AutoYahtzee.Arduino" target="_blank">
                            <img src="~/img/icons/arduino.png" alt="arduino-logo" />
                        </a>
                    </div>

                    <div class="repo-description">
                        <h6>
                            <a href="https://github.com/koryakinp/AutoYahtzee.Arduino" target="_blank">AutoYahtzee.Arduino</a>
                        </h6>
                        <p class="text-muted">C++ code for Arduino UNO microcontroller. Responsible for controlling DC motors and Servos.</p>
                    </div>
                </li>
                <li>
                    <div class="logo-wrapper">
                        <a href="https://github.com/koryakinp/AutoYahtzee.Pi" target="_blank">
                            <img src="~/img/icons/pi.png" alt="pi-logo" />
                        </a>
                    </div>
                    <div class="repo-description">
                        <h6>
                            <a href="https://github.com/koryakinp/AutoYahtzee.Pi" target="_blank">AutoYahtzee.PI</a>
                        </h6>
                        <p class="text-muted">Python code for Raspberry PI 4. Responsible for toggling camera and uploading recorded video to Azure Cloud.</p>
                    </div>
                </li>
                <li>
                    <div class="logo-wrapper">
                        <a href="https://github.com/koryakinp/AutoYahtzee.AzureFunctions" target="_blank">
                            <img src="~/img/icons/azure.png" alt="azure-logo" />
                        </a>
                    </div>
                    <div class="repo-description">
                        <h6>
                            <a href="https://github.com/koryakinp/AutoYahtzee.AzureFunctions" target="_blank">AutoYahtzee.AzureFunctions</a>
                        </h6>
                        <p class="text-muted">Python code for Azure Functions. Responsible for video processing and image labelling. </p>
                    </div>
                </li>
                <li>
                    <div class="logo-wrapper">
                        <a href="https://github.com/koryakinp/AutoYahtzee.Database" target="_blank">
                            <img src="~/img/icons/sql.png" alt="sql-logo" />
                        </a>
                    </div>
                    <div class="repo-description">
                        <h6>
                            <a href="https://github.com/koryakinp/AutoYahtzee.Database" target="_blank">AutoYahtzee.Database</a>
                        </h6>
                        <p class="text-muted">Code for Azure SQL database.</p>
                    </div>
                </li>
                <li>
                    <div class="logo-wrapper">
                        <a href="https://github.com/koryakinp/AutoYahtzee.Web" target="_blank">
                            <img src="~/img/icons/dot-net.png" alt="dot-net-logo" />
                        </a>
                    </div>
                    <div class="repo-description">
                        <h6>
                            <a href="https://github.com/koryakinp/AutoYahtzee.Web" target="_blank">AutoYahtzee.Web</a>
                        </h6>
                        <p class="text-muted">Code for ASP.NET Core web application.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>